<!DOCTYPE html>
<html>

<style>
    h1 {text-align: center;}
    p    {color: red;}
    </style>
{% extends "./menubar.html" %}
{% block content %}
<body>
<h1>Search Options</h1>
    <div class="row" style="margin-left: 50px;"><a href="/player_search">Player Search</a></div>
    <div class="row" style="margin-left: 50px;"><a href="/team_search">Team Search</a></div>
    <div class="row" style="margin-left: 50px;"><a href="/match_search">Match Search</a></div>
    <div class="row" style="margin-left: 50px;"><a href="/champion_search">Champion Search</a></div>
</body>
{% endblock %}
</html>