<!DOCTYPE html>
<html>

  <style>
    h1 {text-align: center;}
    p    {color: red;}
    </style>
{% extends "./menubar.html" %}
{% block content %}
<body>
  <h1>Player Search</h1>
  <h3>Find players with custom parameters:</h3>
  
<form method="post" action="">
  <label for="country">Country of Origin:</label>
  <select name="team" id="team">
    <option value="none">No filter</option>
  {% for i in teamList %}
    <option value={{ i.team_name }}>{{ i.team_name }}</option>
{% endfor %}
</select>
  {% csrf_token %}  
  {{ form.as_ul }}
  <input type="submit" value="Submit" name="custom_team">
</form>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
  {% endif %}
</body>
{% endblock %}
</html> 