<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 110%;

}
h1 {text-align: center;}
h2 {text-align: center;}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 14px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
<h1>Homepage</h1>
<h2>Last 5 Matches</h2>
<table id="customers">

  <tr>
      <td><b>Winner</b></td>
      <td><b>Loser</b></td>
      <td><b>Kills</b></td>
      <td><b>MVP</b></td>
  </tr>
    {% for match in top5Matches %}
    {% if match.0 == match.2 %}
    <tr>
        <td>{{ match.0 }}</td>
        <td>{{ match.1 }}</td>
        <td>{{ match.3 }} - {{ match.4 }}</td>
        <td>{{ match.5 }}</td>
    <tr>
    {% else %}
    <tr>
        <td>{{ match.1 }}</td>
        <td>{{ match.0 }}</td>
        <td>{{ match.4 }} - {{ match.3 }}</td>
        <td>{{ match.5 }}</td>
    <tr>
    {% endif %}
    {% endfor %}
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

</table>
</body>
</html>